.formation{
    width: 15%;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    @include boxStyle;
    @media (max-width : 1024px) {
        width: 20%;
        margin-right: 30px;
    }
    @media (max-width: 768px) {
        width: 80%;
        margin: 0;
    }
    h3{
        color: $cd-primary;
        font-size: 45px;
        text-decoration: underline;
        @media (max-width : 1024px) {
            font-size: 36px;
        }
    }
    &__title{
        color: $cd-primary;
        font-size: 24px;
        font-weight: 600;
        @media (max-width : 1024px) {
            font-size: 20px;
        }
    }
    &__description{
        color: $cd-secondary;
        padding-top: 10px;
        font-size: 18px;
        @media (max-width : 1024px) {
            font-size: 16px;
        }
    }
    &__date{
        color: $cd-thirdary;
        padding-top: 2px;
        font-size: 14px;
        font-style: italic;
    }
}