.banner{
  width: 100%;
  height: 100vh;
  background-color: white;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/img-bannière-1.jpg);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    h1{
      width: 450px;
      color: white;
      text-align: center;
      text-shadow: 4px 5px 8px rgba(0, 0, 0, 1);
      font-size: 96px;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .underline{
      width: 70%;
      border-bottom: 2px solid white ;
      margin-top: 35px;
    }
    p{
      color: white;
      text-shadow: 4px 5px 8px rgba(0, 0, 0, 1);
      font-size: 40px;
    }
    button{
      width: 200px;
      height: 85px;
      font-size: 32px;
      cursor: pointer;
      border-style: none;
      border-radius: 35px;
      border: 5px solid black;
      box-shadow:
      10px 16px 14px rgba(0, 0, 0, 0.49);
      transition: transform 300ms;
      &:hover{
        transform: scale(1.20);
      }
    }
  }

}