.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    &__title{
        width: 100%;
        text-align: center;
        @include sectionBanner;
        @media (max-width: 768px) {
            font-size: 32px;
            border-width: 20px;
            padding: 10px 0;
        }
    }
}
.projectContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    &__title{
        color: $cd-primary;
        font-size: 32px;
        text-decoration: underline;
        margin-right: 65%;
        padding: 35px 0;
        @media (max-width : 1024px) {
            margin-right: 60%;
            font-size: 25px;
        }
        @media (max-width: 768px) {
            margin-right: 28%;
            font-size: 20px;
        }
    }
    &__collapse{
        width: 70%;
        margin: 20px 0;
        padding: 3px;
        background-color: white;
        border: 2px solid black;
        border-radius: 5px;
        @media (max-width: 768px) {
            width: 85%;
            padding: 3px;
        }
    }
}