.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    &__title{
        width: 100%;
        text-align: center;
        font-size: 48px;
        font-weight: 400;
        border-top: 25px solid grey ;
        border-bottom: 25px solid grey ;
        margin-top: 40px;
        padding: 20px 0;
    }
}
.projectContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    &__title{
        color: #6d6c6c;
        font-size: 32px;
        text-decoration: underline;
        margin-right: 65%;
        padding: 35px 0;
    }
    &__collapse{
        width: 70%;
        margin: 20px 0;
        padding: 3px;
        background-color: white;
        border: 2px solid black;
        border-radius: 5px;
    }
}