.presentation{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title{
        width: 100%;
        text-align: center;
        @include sectionBanner;
        @media (max-width: 768px) {
            font-size: 32px;
            border-width: 20px;
            padding: 10px 0;
        }
    }
}

.presentationContent{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;
    @media (max-width : 1024px) {
        width: 100%;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 45px;
    }
    &__img{
        width: 415px;
        height: 675px;
        border-radius: 15px;
        margin-left: 70px;
        box-shadow:
        2.6px 2.5px 1.8px rgba(0, 0, 0, 0.245),
        21px 20px 14px rgba(0, 0, 0, 0.49);
        @media (max-width : 1024px) {
            width: 315px;
            height: 475px;
            margin-left: 20px;
        }
        @media (max-width: 768px) {
            width: 300px;
            height: 415px;
            margin: 0;
        }
    }
    &__info{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        @include boxStyle;
        @media (max-width: 768px) {
            width: 80%;
            gap: 10px;
        }
    }
    &__infoName{
        color: $cd-primary ;
        font-size: 48px;
        text-align: center;
        @media (max-width : 1024px) {
            font-size: 30px;
        }
    }
    &__infoAge{
        color: $cd-primary ;
        font-size: 24px;
        @media (max-width : 1024px) {
            font-size: 20px;
        }
    }
    &__infoDescription{
        width: 100%;
        color: $cd-secondary;
        font-size: 24px;
        text-align: center;
        @media (max-width : 1024px) {
            font-size: 18px;
        }
    }
}