.error{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.8% 0;
    &__img{
        width: 650px;
        height: 600px;
    }
    &__content{
        font-size: 24px;
        text-align: center;
        padding: 10px;
        border: 6px solid black;
        border-radius: 15px;
        box-shadow:
            11px 11px 14px rgba(0, 0, 0, 0.49);
    }
}