.formation{
    width: 15%;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    border: 6px solid black;
    border-radius: 15px;
    box-shadow:
        11px 11px 14px rgba(0, 0, 0, 0.49);
    padding: 20px;
    @media (max-width : 1024px) {
        width: 20%;
        margin-right: 30px;
    }
    h3{
        color: #6d6c6c;
        font-size: 45px;
        text-decoration: underline;
        @media (max-width : 1024px) {
            font-size: 36px;
        }
    }
    &__title{
        color: #6d6c6c;
        font-size: 24px;
        font-weight: 600;
        @media (max-width : 1024px) {
            font-size: 20px;
        }
    }
    &__description{
        color:   #969696  ;
        padding-top: 10px;
        font-size: 18px;
        @media (max-width : 1024px) {
            font-size: 16px;
        }
    }
    &__date{
        color:  #b2b2b2 ;
        padding-top: 2px;
        font-size: 14px;
        font-style: italic;
    }
}