@mixin btnStyle{
    color: black;
    font-size: 75px;
    cursor: pointer;
    @media (max-width: 768px) {
        font-size: 35px;
    }
}

.carrousel{
    width: 97%;
    height: 700px;
    margin: 35px 0;
    @media (max-width : 1024px) {
        width: 93.7%;
        height: 400px;
    }
    @media (max-width: 768px) {
        width: 89%;
        height: 250px;
        margin: 15px 0;
    }
    &__image{
        width: 97%;
        height: 700px;
        border-radius: 25px;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        border: 6px solid black;
        border-radius: 15px;
        @media (max-width : 1024px) {
            width: 93.7%;
            height: 400px;
        }
        @media (max-width: 768px) {
            width: 89%;
            height: 250px;
        }
    }
    &__value{
        color: black;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        position: absolute;
        z-index: 2;
        top: 90%;
        left: 50%;
        @media (max-width: 768px) {
            left: 47%;
        }
    }
    .btn {
        width: 97%;
        height: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 2;
        @media (max-width : 1024px) {
            width: 93.7%;
            height: 400px;
        }
        @media (max-width: 768px) {
            width: 89%;
            height: 260px;
            padding: 0 5px;
        }
    }
    &__buttonLeft{
        @include btnStyle();
        transform: rotate(-90deg);
    }
    &__buttonRight{
        @include btnStyle();
        transform: rotate(90deg);
    }
}