@mixin btnStyle{
    color: black;
    font-size: 75px;
    cursor: pointer;
}

.carrousel{
    width: 97%;
    height: 700px;
    margin: 35px 0;
    &__image{
        width: 97%;
        height: 700px;
        border-radius: 25px;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        border: 6px solid black;
        border-radius: 15px;
    }
    &__value{
        color: black;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        position: absolute;
        z-index: 2;
        top: 90%;
        left: 50%;
    }
    .btn {
        width: 97%;
        height: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 2;
    }
    &__buttonLeft{
        @include btnStyle();
        transform: rotate(-90deg);
    }
    &__buttonRight{
        @include btnStyle();
        transform: rotate(90deg);
    }
}